// FZLuXunTi-R-JF Regular
@font-face {
    font-family: "FZLuXun";
    font-style: normal;
    font-display: auto;
    src: url("@/assets/fonts/luxun.otf") format("opentype");
}

// FZYanZhenQingKaiShuJF Regular
@font-face {
    font-style: normal;
    font-display: auto;
    font-family: "FZYanZhenQingKaiShu";
    src: url("@/assets/fonts/FZYanZQKSJF.TTF") format("truetype");
}
