:root {
    // --bg-color: #000;
    // --text-color: #3a0d0c;
    // --secondary-color: rgb(104, 99, 94);
    // --primary-color: #3a0d0c !important;
    // --focus-ring: #73b0d7 !important;
    // --font-family: FZYan;
    --font-family: FZYanZhenQingKaiShu, "Helvetica", "Arial", "LiHei Pro",
        "黑體-繁", "微軟正黑體", sans-serif;

    body {
        margin: 0;
        height: 100%;
        overflow-x: hidden;
        background-color: var(--surface-a);
        font-family: var(--font-family);
        font-weight: 400;
        color: var(--text-color);
    }
  }
