.p-dropdown {
    margin-right: calc(25vw / 2);
    // background: transparent;
    border: 1px solid var(--primary-color);
    border-radius: 0px;
    &.p-focus {
        box-shadow: none;
    }

    .p-dropdown-label.p-inputtext,
    .p-dropdown-trigger {
        color: var(--primary-color);
    }
}

.p-dropdown-panel {
    .p-dropdown-items .p-dropdown-item {
        color: var(--primary-color);
        font-family: var(--font-family);
        &.p-highlight {
            background-color: #ffffde;
            //
        }
    }
}

.p-dropdown:not(.p-disabled):hover {
    border-color: transparent;
    background-color: var(--primary-color);
    .p-inputtext,
    .p-dropdown-trigger {
        color: white;
    }
}
