/*
 * @Author: YYYeung
 * @Github: https://github.com/sheepyy039
 * @Date: 2022-01-05 20:20:03
 * @LastEditors: YYYeung
 * @LastEditTime: 2022-01-17 10:21:00
 * @Description: includes all the imported fonts used in this project  
 * @FilePath: /hksanda-website/src/scss/_fonts.scss
 */
// FZLuXunTi-R-JF Regular
@font-face {
  font-family: "FZLuXun";
  src: url("@/assets/fonts/m6dr3u8188anrjo6yxn4z0l21pprz0ar.otf") format("opentype");
}

@font-face {
  font-family: "TYZ-s";
  src: url("@/assets/fonts/53lv8ljouiwsbc17extqiy36p4db2hoa.TTF");
}

@font-face {
  font-family: "SXSL-t";
  src: url("@/assets/fonts/53lv8ljouiwsbc17extqiy36p4db2hoa.TTF");
}

@font-face {
  font-family: "FZYan";
  src: url("@/assets/fonts/FZYanZQKSJF.TTF");
}
