.p-dropdown {
  // background: transparent;
  border: 1px solid var(--primary-color);

  .p-dropdown-label.p-inputtext,
  .p-dropdown-trigger {
    color: var(--primary-color);
  }
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item {
  color: var(--primary-color);
  .p-highlight {
    //
  }
}
