/*
 * @Author: YYYeung
 * @Github: https://github.com/sheepyy039
 * @Date: 2022-01-13 14:31:29
 * @LastEditors: YYYeung
 * @LastEditTime: 2022-01-16 23:32:13
 * @Description: 
 * @FilePath: /hksanda-website/src/scss/text.scss
 */
h1 {
  font-family: FZLuXun, FZYan, "SXSL-t", "TYZ-s", "Helvetica", "Arial", "LiHei Pro", "黑體-繁", "微軟正黑體", sans-serif;
  text-align: center;
}

h2 {
  margin: 15px auto;
}

p {
  line-height: normal;
  font-size: 1rem;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

ul > li,
ol > li {
  font-size: 1.25em;
}

.list-group-flush > .list-group-item {
  background-color: transparent;
}
