@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "FZLuXun";
  font-display: swap;
  src: url("@/assets/fonts/luxun.otf") format("opentype");
}

@font-face {
  font-style: normal;
  font-family: "FZYanZhenQingKaiShu";
  src: url("@/assets/fonts/FZYanZQKSJF.TTF") format("truetype");
  font-display: swap;
}

@layer base {
  html {
    font-family: FZYanZhenQingKaiShu, "黑體-繁", "微軟正黑體", "LiHei Pro",
      "Helvetica", "Arial", sans-serif;
    @apply font-normal text-primary;
  }
  h1 {
    @apply text-center text-4xl;
  }
  h2 {
    @apply my-3;
    @apply text-3xl;
  }
  h3 {
    @apply text-2xl;
  }
  h4 {
    @apply text-xl;
  }

  img {
    @apply rounded-lg;
  }
  .body ul > li {
    @apply list-inside list-disc;
  }
  .body ol > li {
    @apply list-inside list-decimal;
  }
  .body ol.carousel__pagination > li.carousel__pagination-item {
    @apply list-none;
  }
  button.btn-primary {
    @apply rounded border-2 border-primary bg-background bg-opacity-50 px-4 py-2 font-bold text-primary shadow hover:bg-primary hover:text-background;
  }
}

@layer components {
  /* .btn-primary {
    @apply rounded-lg bg-blue-500 px-4 py-2 font-semibold text-white shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75;
  } */
}
