@font-face {
  font-family: "luxun";
  src: url("@/assets/fonts/m6dr3u8188anrjo6yxn4z0l21pprz0ar.otf") format("opentype");
}

@font-face {
  font-family: "TYZ-s";
  src: url("@/assets/fonts/53lv8ljouiwsbc17extqiy36p4db2hoa.TTF");
}

@font-face {
  font-family: "SXSL-t";
  src: url("@/assets/fonts/53lv8ljouiwsbc17extqiy36p4db2hoa.TTF");
}

@font-face {
  font-family: "FZYan";
  src: url("@/assets/fonts/FZYanZQKSJF.TTF");
}
