/*
 * @Author: YYYeung
 * @Github: https://github.com/sheepyy039
 * @Date: 2022-01-15 21:52:45
 * @LastEditors: YYYeung
 * @LastEditTime: 2022-01-17 13:35:36
 * @Description: 
 * @FilePath: /hksanda-website/src/scss/dropdown.scss
 */
.p-dropdown {
  // background: transparent;
  border: 1px solid var(--primary-color);

  .p-dropdown-label.p-inputtext,
  .p-dropdown-trigger {
    color: var(--primary-color);
  }
}

.p-dropdown-panel {
  .p-dropdown-items .p-dropdown-item {
    color: var(--primary-color);
    font-family: var(--font-family);
    .p-highlight {
      // font-family: var(--font-family);
      //
    }
  }
  // .p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight
}
