/*
 * @Author: YYYeung
 * @Github: https://github.com/sheepyy039
 * @Date: 2022-01-17 16:07:04
 * @LastEditors: YYYeung
 * @LastEditTime: 2022-01-17 16:39:54
 * @FilePath: /hksanda-website/src/scss/link.scss
 * @Description: ref https://codepen.io/melnik909/pen/KGxdjY
 */

a:not(.p-tabview-nav-link):not(.list-group-item) {
  display: var(--rLinkDisplay, inline-flex) !important;

  // .text-underlined
  --uiTextUnderlinedLineHeight: var(--textUnderlinedLineHeight, 2px); /* 1 */
  --uiTextUnderlinedLineGap: var(--textUnderlinedLineGap, 0.5rem);
  --uiTextUnderlinedPaddingBottom: calc(var(--uiTextUnderlinedLineHeight) + var(--uiTextUnderlinedLineGap));

  padding-bottom: var(--uiTextUnderlinedPaddingBottom) !important;
  position: var(--textUnderlinedPosition, relative) !important;
  z-index: var(--textUnderlinedZindex, 1) !important;
  // end

  // .text-underlined::after {
  &::after {
    content: "";
    width: var(--textUnderlinedLineWidth, 100%) !important;
    height: var(--uiTextUnderlinedLineHeight) !important;
    background-image: var(
      --textUnderlinedBackgroundImage,
      linear-gradient(to top, var(--textUnderlinedLineColor, currentColor) 30%, rgba(255, 255, 255, 0) 45%)
    ) !important; /* 1 */

    position: absolute;
    left: var(--textUnderlinedLineLeft, 0) !important;
    bottom: var(--textUnderlinedLineBottom, 0) !important;
    z-index: var(--textUnderlinedLineZindex, -1) !important;

    will-change: width;
    transition: width 0.1s ease-out;
    transform: rotate(-2deg);
    transform-origin: left bottom;
  }
  // }

  --textUnderlinedLineHeight: 100%;
  --textUnderlinedLineGap: 0;
  --textUnderlinedLineColor: #fed330;

  padding-left: 0.75rem;
  padding-right: 0.75rem;

  &[href] {
    color: var(--rLinkColor) !important;
    text-decoration: var(--rLinkTextDecoration, none) !important;
  }

  &:hover {
    --textUnderlinedLineWidth: 0;
    &::after {
      transition-duration: 0.15s;
    }
  }
}
