/*
 * @Author: YYYeung
 * @Github: https://github.com/sheepyy039
 * @Date: 2022-01-05 20:20:03
 * @LastEditors: YYYeung
 * @LastEditTime: 2022-01-17 16:45:48
 * @Description: Style for navigation bar 
 * @FilePath: /hksanda-website/src/scss/menubar.scss
 */
.p-menubar {
  background: transparent;
  border: none;
  .p-menubar-root-list {
    z-index: 2;

    & .p-menuitem {
      & > .p-menuitem-link {
        background: transparent;
        min-height: 3em;

        .p-menuitem-text,
        .p-menuitem-icon,
        .p-submenu-icon {
          color: var(--text-color);
        }

        &.router-link-active-exact {
          .p-menuitem-text,
          .p-menuitem-icon,
          .p-submenu-icon {
            color: white;
          }
        }
        &.p-menuitem-active {
          & > .p-submenu-list {
            display: none;
          }
        }
      }
      &:hover,
      & .router-link-active-exact {
        background: url("@/assets/images/brush.png");
        background-position: center;
        background-size: cover;
        background-color: transparent;
        border: none;

        > .p-submenu-list {
          display: block;
          border: none;
          box-shadow: none;
          background: radial-gradient(black, transparent);
        }

        .p-menuitem-link,
        .p-menuitem-link:hover {
          box-shadow: none;
          background: transparent;

          .p-menuitem-text,
          .p-menuitem-icon,
          .p-submenu-icon {
            color: white;
          }
        }
      }
    }
  }
}

.p-menubar .p-menubar-root-list .p-menuitem > .p-menuitem-link .p-menuitem-text {
  font-size: 22px;
}

.navbar-brand {
  span.h1 {
    margin: auto 1rem;
  }
}

@media (min-width: 992px) {
  .navbar {
    display: none !important;
  }
}
