.p-menubar {
  background: transparent;
  border: none;

  .p-menubar-root-list {
    z-index: 2;

    & .p-menuitem {
      & > .p-menuitem-link {
        background: transparent;
        min-height: 3em;

        .p-menuitem-text,
        .p-menuitem-icon,
        .p-submenu-icon {
          color: var(--text-color);
        }

        &.router-link-active-exact,
        &.router-link-active {
          .p-menuitem-text,
          .p-menuitem-icon,
          .p-submenu-icon {
            color: white;
          }
        }

        &.p-menuitem-active {
          & > .p-submenu-list {
            display: none;
          }
        }
      }

      &:hover,
      & .router-link-active-exact,
      & .router-link-active {
        background: url("~@/assets/images/brush.png");
        background-position: center;
        background-size: cover;
        background-color: transparent;
        border: none;


        > .p-submenu-list {
          display: block;
          border: none;
          box-shadow: none;
          background: radial-gradient(black, transparent);
        }

        .p-menuitem-link,
        .p-menuitem-link:hover {
          box-shadow: none;
          background: transparent;

          .p-menuitem-text,
          .p-menuitem-icon,
          .p-submenu-icon {
            color: white;
          }
        }
      }
    }
  }
}

.p-menubar
.p-menubar-root-list
.p-menuitem
> .p-menuitem-link
.p-menuitem-text {
  font-size: 22px;
}

.navbar-brand {
  span.h1 {
    margin: auto 1rem;
  }
}

@media (min-width: 992px) {
  .navbar {
    //display: none !important;
  }
}

@media(max-width: 960px) {
  .p-menubar a.p-menubar-button {
    display: none !important;
  }
  ul.p-menubar-root-list {
    display: inherit;
    position: inherit;
    box-shadow: none;
    border: none;
    padding: initial;
    background: none;

    max-width: 100%;
    flex-wrap: wrap;

    li.p-menuitem {
      width: auto;

      a.p-menuitem-link {
        width: max-content;
        margin: 0;
        padding: 2px 0;

        .p-menuitem-text {
          font-size: 18px !important;
        }
      }

      a.p-menuitem-active {


      }
    }
  }

  .p-menu {
    background: transparent;
    border: none;
    width: 90%;
    margin: 0 auto;

    .p-menuitem-link {

      padding-top: 0.25rem;
      padding-bottom: 0.25rem;
      border: var(--text-color);
    }
  }
}
