h1 {
  font-family: luxun;
  font-size: xxx-large;
  text-align: center;
}

h2 {
  font-size: xx-large;
  margin: 15px auto;
}

p {
  font-size: larger;
  margin: 1% auto;
  line-height: normal;
}

a {
  color: var(--primary-color);
}

ul > li,
ol > li {
  margin: 10px auto;
  // font-family: SXSL-t, TYZ-s;
  font-size: 1.25em;
}
