h1 {
  font-family: luxun;
  text-align: center;
}

h2 {
  margin: 15px auto;
}

p {
  // font-size: larger;

  // margin: 1% auto;
  line-height: normal;
  font-size: 1rem;
}

a {
  color: var(--primary-color);
}

ul > li,
ol > li {
  // margin: 10px auto;
  // font-family: SXSL-t, TYZ-s;
  font-size: 1.25em;
}

.list-group-flush > .list-group-item {
  background-color: transparent;
}
